<template>
  <landingpage />
</template>

<script>
import landingpage from './components/landingPage'

export default {
  name: 'App',
  components: {
    landingpage
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
